@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&family=Signika:wght@300..700&display=swap');

:root {
    --brown: #56231B;
    --gold: #B3A958;
    --grey: #F9FAFB;
    --white: #FFFFFF;
    --greyborder: #E5E7EB;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    line-height: 1.5;
    background-color: var(--white);
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: "Lugrasimo", cursive;
    font-size: 3rem;
    padding: 20px;
    gap: 1rem;
    background-color: var(--brown);
    color: var(--gold);
}

.main-body-container {
    display: grid;
    width: 100%;
    gap: 1rem;
    padding: 20px;
    box-shadow: inset 0px 8px 8px 0px rgba(0, 0, 0, 0.25);
}

.book-container {
    font-size: 1;
    font-family: "Signika", sans-serif;
    text-align: center;
    background-color: var(--grey);
    border-radius: 0.5rem;
    border: 0.0625rem solid var(--greyborder);
    box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.20);
    padding: 10px;
}

.book-title {
    font-size: 2rem;
    font-weight: bold;
    word-break: break-word;
}

.book-container-footer {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

@media only screen and (min-width: 768px) {
    .main-body-container {
        grid-template-columns: repeat(auto-fit, 20rem);
        justify-content: center;
    }
    
    .book-container {
        height: fit-content;
    }
}